:root {
  --dark-blue: #161a37;
  --oranage: #ff8e2b;
  --white: #eceaea;
  --dark-gray: #6e6e6e;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.main-section {
  padding-left: 10px;
  padding-right: 10px;
}

.main-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  align-items: stretch;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.logo-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.image {
  align-self: center;
}

.heading {
  color: var(--dark-blue);
  margin-top: -12px;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-weight: 800;
}

.text-block {
  color: #1f1f1f;
  text-align: center;
  margin-top: 21px;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.form-sec {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  flex-direction: column;
  display: flex;
}

.form {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-direction: column;
  display: flex;
}

.submit-button {
  background-color: var(--oranage);
  border-radius: 3px;
  align-self: stretch;
  margin-top: 10px;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.form-opt {
  justify-content: space-between;
  display: flex;
}

.checkbox-field {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  display: flex;
}

.checkbox-label {
  align-self: flex-end;
  margin-bottom: 5px;
  font-family: Exo, sans-serif;
  font-weight: 500;
  line-height: 0;
}

.text-field {
  background-color: rgba(255, 142, 43, .1);
  border: .1px solid rgba(0, 0, 0, .37);
  border-radius: 3px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, .08);
}

.field-label {
  color: var(--dark-blue);
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.google-login-container {
  align-self: center;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  display: flex;
}

.text-block-2 {
  align-self: center;
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.signup-link-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  display: flex;
}

.link {
  font-family: Exo, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.text-block-3 {
  color: var(--dark-blue);
  order: -1;
  align-self: flex-end;
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.grid-contianer {
  grid-column-gap: 58px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 16px;
  display: grid;
}

.form-block {
  flex: 0 auto;
  align-self: stretch;
  margin-top: 25px;
}

.image-3 {
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: block;
  overflow: hidden;
}

.left-grid-container {
  background-image: url('../images/successful-businessman-raising-his-hands-having-cheerful-expression-after-signing-contract.jpg');
  background-position: 50%;
  background-size: cover;
}

.navbar {
  background-color: var(--white);
  padding: 40px 20px;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.container-2 {
  flex-direction: column;
  display: flex;
}

.nav-menu {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-self: center;
  display: flex;
}

.brand {
  align-self: flex-start;
}

.nav-link {
  color: var(--dark-blue);
  padding-left: 10px;
  font-family: Exo, sans-serif;
  font-weight: 700;
  display: flex;
}

.nav-items {
  display: flex;
}

.image-4 {
  order: -1;
}

.navbar-profile {
  background-color: var(--white);
  padding: 40px 20px;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.nav-menu-2 {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-direction: column;
  display: flex;
}

.wallet-section {
  margin-top: 147px;
  margin-left: 180px;
  margin-right: 90px;
}

.wallet-container {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .75fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.balance-container {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: var(--dark-blue);
  border-radius: 10px;
  flex-direction: column;
  padding: 40px;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.balance {
  color: var(--oranage);
  flex: 1;
  font-family: Exo, sans-serif;
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
}

.balance.unit {
  flex: 1;
  margin-left: 10px;
}

.text-block-4 {
  display: inline-block;
}

.balance-holder {
  flex-direction: row;
  flex: 0 auto;
  align-self: flex-start;
  margin-top: 11px;
  display: flex;
}

.text-block-5 {
  color: var(--white);
  flex: 1;
  order: -1;
  align-self: flex-start;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.history-container {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-direction: column;
  display: flex;
}

.heading-2 {
  margin-top: 10px;
  font-family: Exo, sans-serif;
}

.history-bucket {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-direction: column;
  display: flex;
}

.btn-txt {
  color: var(--white);
  align-self: center;
  font-family: Exo, sans-serif;
  text-decoration: none;
  display: block;
}

.primary-btn {
  outline-color: var(--oranage);
  outline-offset: 0px;
  border-radius: 3px;
  outline-width: 1.5px;
  outline-style: solid;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 15px 10px;
  font-family: Exo, sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.primary-btn.secondary-btn {
  flex-direction: row;
  flex: 1;
}

.btn-container {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-direction: row;
  flex: 0 auto;
  justify-content: space-around;
  align-self: stretch;
  margin-top: 25px;
  display: flex;
}

.trans-item {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border-bottom: .5px dashed var(--dark-gray);
  color: var(--dark-blue);
  flex-direction: row;
  padding-bottom: 3px;
  font-family: Exo, sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: flex;
}

.image-7 {
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  .grid-contianer {
    grid-template-columns: 1fr;
  }

  .image-3 {
    display: none;
  }

  .left-grid-container {
    background-image: none;
    background-position: 0 0;
    background-size: auto;
  }
}

@media screen and (max-width: 479px) {
  .body {
    color: #ff8e2b;
  }

  .main-section {
    flex-direction: column;
    display: block;
  }

  .main-container {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
  }

  .logo-container {
    flex-direction: column;
    flex: 0 auto;
    align-self: center;
    line-height: 0;
    display: flex;
  }

  .image {
    height: 80px;
  }

  .heading {
    color: var(--dark-blue);
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Exo, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 0;
  }

  .text-block {
    font-size: 16px;
  }

  .form-sec {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  .submit-button {
    font-size: 16px;
  }

  .form-opt {
    align-self: stretch;
  }

  .checkbox-label {
    color: var(--dark-blue);
    font-family: Exo, sans-serif;
    font-weight: 500;
  }

  .field-label {
    color: #252525;
    font-size: 14px;
  }

  .text-block-2 {
    font-size: 14px;
  }

  .link {
    align-self: center;
    margin-bottom: 1px;
    font-size: 16px;
  }

  .grid-contianer {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    align-content: space-between;
  }

  .form-block {
    flex: 1;
    margin-bottom: 21px;
  }

  .image-3 {
    display: none;
  }

  .left-grid-container {
    background-image: none;
    background-position: 0 0;
    background-size: auto;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 0;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .container-2 {
    flex-direction: row;
  }

  .nav-menu {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-direction: row;
    flex: 1;
    align-self: center;
    align-items: stretch;
  }

  .brand {
    display: none;
  }

  .nav-link {
    padding: 10px;
  }

  .nav-items {
    flex-direction: column;
  }

  .image-4, .image-5, .image-6 {
    align-self: center;
  }

  .navbar-profile {
    padding: 10px;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .nav-menu-2 {
    flex-direction: row;
  }

  .wallet-section {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .wallet-container {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }

  .balance-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .history-container {
    align-items: stretch;
  }

  .heading-2 {
    align-self: center;
  }
}

#w-node-_27f70c7b-c865-3f44-bfcd-11970d818ba0-bba377aa {
  align-self: stretch;
  justify-self: stretch;
}

#w-node-c47c7f67-7c2d-dc86-1378-a39b41f67960-50dabcd3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d8fc302e-0655-fcad-a362-81aabd429233-50dabcd3 {
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_71570e60-6d5d-ec5f-c9cc-d22c05a5ff04-78041f48 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: stretch;
}

#w-node-_627daf3e-df80-8b00-39a7-1cecd5c8319d-78041f48 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: end;
}

#w-node-_07e92251-f5de-ebad-45dd-77b9c7f3e750-78041f48, #w-node-_61f3d22d-d7f6-79e0-65c8-2dc464fdc6af-78041f48, #w-node-e6024e03-6d9f-5095-90bf-58e76cf07fb2-78041f48, #w-node-_3eb3ae57-7ff0-eae3-80f8-6979b38773b8-78041f48, #w-node-_8a12dee9-0693-c7dd-9988-163c579e780c-78041f48, #w-node-_930f9bdd-0cd0-6289-4b81-efe61e60fe84-78041f48 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_27f70c7b-c865-3f44-bfcd-11970d818ba0-bba377aa, #w-node-d8fc302e-0655-fcad-a362-81aabd429233-50dabcd3 {
    align-self: start;
  }

  #w-node-_71570e60-6d5d-ec5f-c9cc-d22c05a5ff04-78041f48 {
    align-self: center;
  }

  #w-node-_627daf3e-df80-8b00-39a7-1cecd5c8319d-78041f48 {
    align-self: center;
    justify-self: center;
  }
}
