.blur-effect {
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
}


#loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loadingIndicator {
    width: 100px;
    height: 100px;
    /* Add styling for your loading indicator image */
  }